<div class="showings-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <form>
                    <select>
                        <option ng-repeat="movie in addableMovies">
                            {{movie.title}}
                        </option>
                    </select>
                </form>

            </div>
            <div class="col-sm-6">
                <a href="#/theater">Add theater</a>
                <ul>
                    <li ng-repeat="theater in theaters">
                        <a href="#/theater/{{$index}}">{{theater.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
