/* Global variables */

$background-primary: #e7e7e7;
$background-dark: #353535;

$text-primary: #353535;
$text-light: #f1f1f1;

$cinema-red-light: #e88989;
$cinema-red: #bb3246;
$cinema-red-dark: #5c111d;
$cinema-red-darker: #25070c;
$cinema-gold: #f3ca29;

$booked-seat: #444444;
$booked-seat-border: #888888;

$cinema-seat-size: 40px;

/* Page wide stuff */
html {
  overflow-y: scroll;
}

body {
  background-color: $background-primary;
  margin-top: 0;
}

.container {
  color: $text-primary;
  padding-top: 0;
}

h1 {
  background: $background-dark;
  padding: 0.5em;
  color: $text-light;

  font-size: 2em;
  font-family: serif;
  font-style: italic;
  text-align: right;

  margin-top: 0;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h2 {
  font-size: 3em;
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}

/* Nav bar */
.nav-pills {
  li a {
    color: $cinema-red-dark;
  }
  li.active {
    a {
      background-color: $cinema-red !important;
    }
    a, a:active, a:focus {
      color: #fff !important;
    }
  }
}

.breadcrumb {
  margin-top: 1em;
}

.inputTable {
  tbody {
    tr {
      td {
        padding: 0.5em;
      }
    }
  }
}

input.btn {
  background-color: $cinema-red;
  color: $text-light;
  margin-top: 1em;
}

.theaterScreen {
  color: white;
  letter-spacing: 1em;
  text-transform: uppercase;

  display: inline-block;

  width: 30em;
  height: 2em;
  line-height: 2em;

  background-color: black;
  border-style: solid;
  border-width: 0 2em 0 2em;
  border-color: $cinema-red-dark;

  margin: 5em 0;
}

.theaterScreenPlayer {
  text-align: center;

  iframe {
    width: 40em;
    height: 20em;

  }
  margin-bottom: 2em;
}

.theaterRow {
  text-align: center;
  .seatContainer {
    display: inline-block;
    .theaterSeat {
      margin: 10px 5px;

      cursor: pointer;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 1em;
      background-color: $cinema-red;

      width: $cinema-seat-size;
      height: $cinema-seat-size;

      border-radius: 5px 5px 20px 20px;
      border: 2px solid $cinema-red-dark;

      text-align: center;
      line-height: $cinema-seat-size;

      .seatLabel {
        margin: auto;
      }
    }
    .disabledSeat {
      background-color: lightgray;
      border-color: black;
      color: black;
    }

    .not_a_seat {
      background-color: #fbfbfb;
      border-color: #eeeeee;
      color: #dddddd;

    }

    .hiddenSeat {
      background-color: transparent;
      color: transparent;

      width: $cinema-seat-size;
      height: $cinema-seat-size;

      border: 2px solid transparent;

      margin: 10px 5px;

      text-align: center;
      line-height: $cinema-seat-size;
    }

    .unbookedSeat {
      background-color: $cinema-red-dark;
    }

    .bookedSeat {
      background-color: $booked-seat;
      border-color: $booked-seat-border;
    }

    .selectedSeat {
      background-color: $cinema-red;
      border-color: $text-light;
    }
  }

}

.confirmBooking {
  margin-top: 3em;
  border-top: 1px solid $background-dark;
  margin-bottom: 25em;

  text-align: center;
}

.confirmWrapper {
  .hooray {
    background: $cinema-red;
    font-family: serif;
    text-align: center;

    border-radius: 5px;
    padding: 1em;

    h1 {
      color: $text-light;
      text-align: center;
      font-size: 3em;
      font-style: normal;

      padding: 0;

      background-color: transparent;

    }

    h2 {
      font-size: 7em;
      color: $cinema-gold;
      margin: 0;
    }

    h3 {
      font-style: normal;
      color: $cinema-red-light;
      margin: 0;
    }

    .divider {
      border-top: 1px solid $text-light;
      margin: 4em 0;
    }
  }
}

.alert {
  position: fixed;
  top: 2em;
  right: 2em;
  padding: 3em;
  z-index: 10;
  box-shadow: 0 0 1em rgba(#000000, 0.2);
}

.remove {
  cursor: pointer;
}

.showingResults {
  .date {
    font-size: 1.5em;
    font-weight: bold;
    border-top: 2px solid $cinema-red-dark;
    margin-top: 1em;
  }
  .theaterName {
    font-size: 1.5em;
    font-family: serif;
    font-style: italic;
  }
  .showing {
    background-color: $cinema-red-dark;
    margin: 0.5em 0;
    padding: 0.5em;
    color: $text-light;
    border-radius: 5px;
    .movieTitle {
      color: $cinema-gold;
      font-size: 1.5em;
      font-family: serif;
    }
    .movieTimeAndPlace {
      font-family: serif;
      font-style: italic;
      font-size: 1.3em;
      color: $cinema-red-light;
    }
    .ticketsLeft button {
      margin-left: 1em;
    }
  }
}

.bookingTableObject {
  background-color: rgba(0, 0, 0, 0.14);
}

.activeMovie {
  background-color: $cinema-red-dark;
  color: $text-light;
}

.fullBookedShowing {
  background-color: #ff5260;
}

.blockSpan {
  display: block;
}

.clearField {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.pullLeft {
  float: left;
}

.form-control {
  display: inline;
  width: 80%;
}

.dateRow {
  background-color: #5c111d;
  color: #FFFFFF;
}

tbody > tr.dateRow:hover {
  background-color: #5c111d;
  color: #FFFFFF;
}

//Button CSS

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: .5em;
}

.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}

.red {
  color: #fef4e9;
  border: solid 1px $cinema-red-dark;
  background-color: $cinema-red;
}

.calendar h2 {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}

.calendar td {
  background: #CCC;
  border: 1px solid #DDD;
  font-weight: bold;
  .highlight {
    background: $cinema-red-dark;
    color: $text-light;
    border: none;
  }
}