/* Global variables */

$background-primary: #e7e7e7;
$background-dark: #353535;

$text-primary: #353535;
$text-light: #f1f1f1;

$cinema-red-light: #e88989;
$cinema-red: #bb3246;
$cinema-red-dark: #5c111d;
$cinema-red-darker: #25070c;

$cinema-seat-size: 40px;

/* Page wide stuff */
html {
  overflow-y: scroll;
}

body{
  background-color: $background-primary;
  margin-top: 0;
}

.container {
  color: $text-primary;
  padding-top: 0;
}

h1 {
  background: $background-dark;
  padding: 0.5em;
  color: $text-light;

  font-size: 2em;
  font-family: serif;
  font-style: italic;
  text-align: right;

  margin-top: 0;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Nav bar */
.nav-pills {
  li a {
    color: $cinema-red-dark;
  }
  li.active {
    a {
      background-color: $cinema-red !important;
    }
    a, a:active, a:focus {
      color: #fff !important;
    }
  }
}

.inputTable {
  tbody{
    tr{
      td{
        padding: 0.5em;
      }
    }
  }
}

.theaterScreen {
  color: white;
  letter-spacing: 1em;
  text-transform: uppercase;


  display: inline-block;

  width: 30em;
  height: 2em;
  line-height: 2em;

  background-color: black;
  border-style: solid;
  border-width: 0 2em 0 2em;
  border-color: $cinema-red-dark;

  margin: 5em 0;
}

.theaterRow {
  text-align: center;
  .theaterSeat {
    margin: 10px 5px;

    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1em;
    background-color: $cinema-red;

    width: $cinema-seat-size;
    height: $cinema-seat-size;

    border-radius: 5px 5px 20px 20px;
    border: 2px solid $cinema-red-dark;

    display: inline-block;
    text-align: center;
    line-height: $cinema-seat-size;

    .seatLabel {
      margin: auto;
    }
  }
  .disabledSeat{
    background-color: lightgray;
    border-color: black;
    color: black;
  }

  .not_a_seat {
    background-color: #fbfbfb;
    border-color: #eeeeee;
    color: #dddddd;

  }
}

.alert {
  position: absolute;
  top:2em;
  right: 2em;
  padding: 3em;
  z-index: 10;
  box-shadow: 0px 0px 1em rgba(#000000, 0.2);
}

