   <h2>Showings</h2>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <hr>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="blockSpan">Cinema:</label>
                        <select class="form-control" ng-options="cinema as cinema.name for cinema in allCinemas"
                                name="cinema" ng-model="cinema" ng-change="updateCinemaScope()">
                        </select>
                    </div>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="blockSpan">From date:</label>
                        <input class="form-control" name="from_date" ng-model="fromDate" ng-change="fetchShowings()">
                        <button class="btn" type="button" ng-click="fromDate = null; updateShowings()"><span class="glyphicon glyphicon-remove"></span> </button>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="blockSpan">To date:</label>
                        <input class="form-control" name="to_date" ng-model="toDate" ng-change="fetchShowings()">
                        <button class="btn" type="button" ng-click="toDate = null; updateShowings()"><span class="glyphicon glyphicon-remove"></button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="blockSpan">Movie:</label>
                        <select class="form-control" ng-options="movie as movie.title for movie in moviesInRepertoire"
                                name="movies" ng-model="movie" ng-change="fetchShowings()" required>
                            <option value="" disabled>Movies in Repertoire</option>
                        </select>
                        <button class="btn" type="button" ng-click="movie = {}; fetchShowings()"><span class="glyphicon glyphicon-remove"></button>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="blockSpan">Theater:</label>
                        <select class="form-control" ng-options="theater as theater.name for theater in theatersInCinema"
                                name="theaters" ng-model="theater" ng-change="fetchShowings()" required>
                            <option value="" disabled>Theaters in {{cinema.name}}</option>
                        </select>
                        <button class="btn" type="button" ng-click="theater = {}; fetchShowings()"><span class="glyphicon glyphicon-remove"></button>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <label class="blockSpan">Show disabled:</label>
                        <input type="checkbox" value="" name="disabledCheckbox" ng-model="showingIsDisabled"
                               ng-change="fetchShowings()"
                               ng-true-value="true" ng-false-value="false" ng-checked="disabledCheckbox == true">
                </div>
            </div>
            <button class="btn" type="button" ng-click="clearAllFilters()">Clear All Filters</button>




            <table class="table table-hover">
                <thead>
                <th>Date and Time</th>
                <th>Movie</th>
                <th>Price</th>
                <th>Theater</th>
                <th>Disabled</th>
                </thead>
                <tbody ng-repeat="showing in allShowings">
                <tr>
                    <td>{{showing.showDateTime | date : 'dd MMM HH:mm'}} - {{showing.showingEndTime | date : 'HH:mm'}}
                    </td>
                    <td>{{showing.movie.title}}</td>
                    <td>{{showing.price}}</td>
                    <td>{{showing.theater.name}}</td>
                    <td>
                        <div ng-if="showing.id"> <!-- If there is no id, it is an empty time slot -->
                            <button ng-if="showing.isDisabled" class="btn is_enabled" type="button" name="disable"
                                    ng-click="disableShowing(showing)">Enable
                            </button>
                            <button ng-if="!showing.isDisabled" class="btn is_disabled" type="button" name="disable"
                                    ng-click="disableShowing(showing)">Disable
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h3>Schedule new showing</h3>
            <hr>

            <form role="form" name="showing_form">
                <div class="form-group">
                    <label class="blockSpan">Cinema:</label>
                    <select class="form-control" ng-options="cinema as cinema.name for cinema in allCinemas"
                    <select class="form-control" ng-options="cinema as cinema.name for cinema in allCinemas"
                            name="cinema" ng-model="cinema" ng-change="fetchCinemaScope()"></select>
                </div>
                <div class="form-group">
                    <label class="blockSpan">Movie:</label>
                    <select class="form-control" ng-options="movie as movie.title for movie in moviesInRepertoire"
                            name="movies" ng-model="movieForShowing" ng-change="fetchShowings(); fetchDefaultPrice();"></select>
                </div>
                <div class="form-group">
                    <label class="blockSpan">Theater:</label>
                    <select class="form-control" ng-options="theater as theater.name for theater in theatersInCinema"
                            name="theaters" ng-model="theaterForShowing"></select>
                </div>
                <div class="form-group">
                    <label class="blockSpan">Date:</label>
                    <input class="form-control" type="text" name="date" id="date" ng-model="dateForShowing">
                </div>
                <div class="form-group">
                    <label class="blockSpan">Price:</label>
                    <input class="form-control" type="number" ng-model="price" name="priceForShowing"
                           value="">
                </div>
                <input type="submit" class="btn" type="button" name="submit" id="submit" ng-click="createShowing()"
                        ng-disabled="!validateCreateShowing()" value="Add showing">
            </form>
        </div>
    </div>
<script>
    $('input[name=from_date]').datetimepicker({
        format:'Y-m-d H:i',
        step:15
    });
    $('input[name=from_date]').keypress(function(event) {
        event.preventDefault();
    });

    $('input[name=to_date]').datetimepicker({
        format:'Y-m-d H:i',
        step:15
    });
    $('input[name=to_date]').keypress(function(event) {
        event.preventDefault();
    });
    $('input[name=date]').datetimepicker({
        format:'Y-m-d H:i',
        step:15
    });
</script>
