
<!-- TODO: move to a correct place to have css -->
<style> 
	ul.list {display:block; margin:0; padding:0}
	ul.list li{display:block; padding: 10px; margin:0; background: #eee; border-bottom: 1px solid #bbb}
	ul.list li.header{font-size:18px; font-weight:bold;  color: #eee; background: #000}
	ul.movies li.header{background: #008BAD;}

	ul.list .movie_title{font-size:16px; font-weight:bold}
	ul.list .showing_time{font-size:12px; font-weight:bold; float:left }
	ul.list .at_theater{font-size:12px; font-weight:bold; float:left}

	.end{clear:both}

	.calendar {border: 1px solid #222; text-align: center}
	.calendar ul{display:block;padding:0;margin:0}
	.calendar li{display:block;padding:3px;margin:2px; border: 1px solid #333; text-align: center; font-size: 18px }

</style>

<div class="showings-wrapper">

	<!--
	<p>The showings view, loaded into the div with ng-view</p>
	
	<h3>One paragraph for each thing in the sample array.</h3>
	<p>Each sample object looks similar to: <br>
		<code>{<br>id: 1, <br>	date: new Date(), <br> theater: {name: "bergakungen 02"}, <br> movie: {title:"Lion king", desc: "lions and stuff"} <br>}</code></p>
	
	<p>Angular code/syntax for repeating is
		<code>
			<span ng-non-bindable>
				ng-repeat="showing in sampleShowingsArray <br><br>
				Id: {{showing.id}} - Date: {{showing.date}} - Theater: {{showing.theater.name}} - Movie: {{showing.movie.title}} ( {{showing.movie.desc}})
			</span>
		</code>
	</p>
	-->
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="list movies">
					<li class="header">Movies</li>
					<li ng-repeat="movie in movies" ng-click="updateAvailableShowings(movie.id,null)">
						<div class="movie_title">{{movie.title}}</div>
						<div class="showing_time">{{movie.lengthInMinutes}}</div>
						<div class="at_theater">- {{movie.description}}</div>
						<div class="end"></div>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<!--
				<div class="seat">
					Hur många blir ni?
					<select ng-model="select_seat" ng-options="x for x in seatlimits" ng-change="functionForBtnClick()">
					</select>
				</div>
				-->
				<div class="calendar">
					April
					<ul>
						<li ng-repeat="date in relevantDates" ng-style="{'background-color':date.color}" ng-click="updateAvailableShowings(null,date.date)">
							{{date.day}}
						</li>
					</ul>
				</div>
				<!--
				<div class="cinema">
					Biograf
					<select ng-model="select_cinema" ng-options="x for x in cinemas" ng-change="functionForBtnClick()">
					</select>
				</div>
				-->
			</div>
		</div>
		<div>
			<div class="col-sm-12">
				<br/> <!--    <-- temponarty hack -->
				<ul class="list">
					<li class="header">Showings</li>
					<li ng-repeat="showing in relevantShowings" ng-click="goToConfirm(showing.id)">
						<div class="movie_title">{{showing.movie.title}}</div>
						<!-- checkout https://docs.angularjs.org/api/ng/filter/date -->
						<div class="showing_time">{{showing.showDateTime | date : 'dd MMM HH:mm'}}</div>
						<div class="at_theater"> - {{showing.theater.name}}</div>
						<div class="end"></div>
					</li>
				</ul>				
			</div>
		</div>
	</div>
	<!--
	<input type="button" ng-click="functionForBtnClick()" value="click me">
	
	<h4> Binding. One value effects another value.</h4>
	<input type="text" ng-model="someVariableName">
	<p>value above and below is: {{someVariableName}}</p>
	<input type="text" ng-model="someVariableName">
	-->
</div>
