<div class="booking-wrapper">
    <div class = row>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        	<table class="table table-hover">
        		<thead>
        			<tr>
        				<th>Movie</th>
        			</tr>
        		</thead>
        		<tbody ng-repeat="movie in moviesInRepertoire">
        			<tr>
        				<td ng-model="movie" ng-click="updateShowings()">{{movie.title}}</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <label>From Date:</label>
        	<input name="from_date" ng-model="fromDate" ng-change="updateShowings()">
        </div>
    </div>
    <div class="row">
    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    		<table class="table table-striped table-hover">
    			<thead>
    				<tr>
    					<th></th>
    				</tr>
    			</thead>
    			<tbody ng-repeat="showing in allShowings">
    				<tr>
    					<td>{{showing.showDateTime | date : 'dd MMM HH:mm'}}</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</div>
<script>
    $('input[name=from_date]').datetimepicker({
        format:'Y-m-d H:i',
        step:15
    });
</script>