<div class="booking-wrapper">
    <button class="" type="button" ng-click="clearAllFilters()">Start Over</button>
    <div class = row>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        	<table class="table table-hover">
        		<thead>
        			<tr>
        				<th>Movie</th>
        			</tr>
        		</thead>
        		<tbody ng-repeat="movie in moviesInRepertoire">
        			<tr class="bookingTableObject">
        				<td ng-class="{'activeMovie': selectedMovie == movie}" ng-click="setMovie(movie)">{{movie.title}}</td>
        			</tr>
        		</tbody>
        	</table>
        </div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <label>From Date:</label>
        	<input name="from_date" ng-model="fromDate" ng-change="updateShowings()">
			<button class="" type="button" ng-click="fromDate = null; updateShowings()">x</button>
        </div>

		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			
			<table class="table" ng-repeat="(date,theaters) in allShowings">
				<thead>
				<tr>
					<th>{{(date)}}</th>
				</tr>
				</thead>
				<tbody ng-repeat="(theaterName, showings) in theaters">
				<tr><td>{{theaterName}}<td></tr>
				<tr class="bookingTableObject" ng-class="{'fullBookedShowing': showing.availableTickets <= 0}" ng-repeat="showing in showings">
                    <td>
                    <table>
                        <tr>
                            <td>{{showing.movie.title}}</td>
                            <td>{{showing.movie.lengthInMinutes}} minutes.</td>
                        </tr>
                        <tr>
                            <td>{{showing.showDateTime | date : 'dd MMM HH:mm'}} </td>
                            <td></td>
                            <td>{{showing.theater.name}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Seats left: {{showing.availableTickets}}</td>
                        </tr>
                    </table>
                    </td>
                    <td>
                        <button class="button orange small" type="button" ng-click="goToSelectSeat(showing)"><span class="glyphicon glyphicon-arrow-right"></span> </button>
                    </td>
				</tr>
				</tbody>
			</table>
			</div>
		</div>
    </div>
</div>
<script>
    $('input[name=from_date]').datetimepicker({
        format:'Y-m-d H:i',
        step:15
    });
</script>