<script>

    $('.calendar').fullCalendar({
        viewRender   : function(view,element) {
            var now = new Date();
            var end = new Date();
            end.setMonth(now.getMonth() + 1); //Adjust as needed
            if ( end < view.end) {
                $(".fc-next-button").hide();
                return false;
            }
            else {
                $(".fc-next-button").show();
            }
            $(".fc-prev-button").hide();

        },
    });

    $('.calendar').fullCalendar('option', 'height', 400);
    $('.calendar td').click(function(){


    });
    $('.calendar td').each(function(index){
        var date = $(this).attr("data-date");
        if(typeof date != "undefined") $(this).attr("ng-click","setDate('"+date+"')");
    });

</script>
<h2>Booking</h2>
<div class="bookingWrapper">
    <div class="row">
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <label class="blockSpan">Cinema:</label>
            <select class="form-control" ng-options="cinema as cinema.name for cinema in allCinemas"
                    name="cinemas" ng-model="cinema" ng-change="updateCinemaScope()">

            </select>
    	</div>
    </div>
   </select>
    <div class=row>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <h3>Movies</h3>
            <table class="table table-hover">
                <tbody ng-repeat="movie in moviesInRepertoire">
                <tr class="bookingTableObject">
                    <td ng-class="{'activeMovie': selectedMovie == movie, 'notActiveMovie': selectedMovie != movie && selectedMovie != null, 'unselected': selectedMovie == null}" ng-click="setMovie(movie)">{{movie.title}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <br>
            <div class="calendar">
            </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

            <div class="showingResults" ng-repeat="(date,theaters) in allShowings">

                <div class="date">{{(date)}}</div>

                <div ng-repeat="(theaterName, showings) in theaters">

                    <div class="theaterName">{{theaterName}}</div>

                    <div class="showing" ng-class="{'fullBookedShowing': showing.availableTickets <= 0}"
                         ng-repeat="showing in showings">

                        <div>
                            <span class="movieTitle">{{showing.movie.title}}</span>
                            <span class="movieLength">{{showing.movie.lengthInMinutes}} minutes.</span>
                        </div>
                        <div>
                            <span class="movieTimeAndPlace">{{showing.showDateTime | date : 'dd MMM HH:mm'}}, {{showing.theater.name}}</span>
                            <span class="ticketsLeft pull-right">Tickets Left: {{showing.availableTickets}}
                            <button class="button red small pull-right" type="button"
                                    ng-click="goToSelectSeat(showing)">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </button>
                            </span>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>
<script>
    $('input[name=from_date]').datetimepicker({
        format: 'Y-m-d H:i',
        step: 15
    });
</script>
