<link rel="stylesheet" href="styles/book.css">
<div class="showings-wrapper">
	<div class="container">

        <div ng-if="searchCriteria" class="col-sm-12">
            <input type="button" ng-click="clearSearchCriteriaAndUpdateList()" value="Start over"><!-- {{searchCriteria}} <--do not show this until we fixed serach box info-->
            <br><br> <!-- temp HACK make real css class to handle search box -->
        </div>

		<div class="row">
			<div class="col-sm-6">
				<ul class="list movies">
					<li class="header">Movies</li>
					<li ng-repeat="movie in movies" ng-click="updateAvailableShowings(movie.id)">
						<div class="movie_title">{{movie.title}}</div>
						<div class="showing_time">{{movie.lengthInMinutes}}</div>
						<div class="at_theater">- {{movie.description}}</div>
						<div class="end"></div>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="calendar">
					Maj
					<ul>
						<li ng-repeat="date in relevantDates" ng-style="{'background-color':date.color}" ng-click="updateAvailableShowings(undefined,date.date)">
							{{date.day}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="col-sm-12">
				<ul class="list">
					<li class="header">Showings</li>
					<li ng-repeat="showing in relevantShowings" ng-click="goToConfirm(showing.id)">
						<div class="movie_title">{{showing.movie.title}}</div>
						<div class="showing_time">{{showing.showDateTime | date : 'dd MMM HH:mm'}}</div>
						<div class="at_theater"> - {{showing.theater.name}}</div>
						<div class="end"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
