<ol class="breadcrumb">
    <li><a href="#/customer">Admin Home</a></li>
    <li><a href="#/cinema/{{currentTheater.cinema.id}}">{{currentTheater.cinemaName}}</a></li>
    <li>{{name}}</li>
</ol>

<h2>{{name}}</h2>

<div>

    <table class="inputTable">
        <tbody>
        <tr>
            <td>Name:</td>
            <td><input type="text" placeholder="Name" ng-model="original_name"></td>
            <td>
                <button type="button" class="btn btn-default btn-sm" ng-click="setTheaterName()"
                        ng-disabled="!validateNameInput()">Update name
                </button>
            </td>
        </tr>
        <tr>
            <td>Width:</td>
            <td>{{theaterWidth}}</td>
            <td>
                <button class="btn btn-default btn-sm" type="button" ng-click="addSeats()"
                        ng-disabled="!validateSeatInput(1)">+
                </button>
                <button class="btn btn-default btn-sm" type="button" ng-click="removeSeats()"
                        ng-disabled="!validateSeatInput(-1)">-
                </button>
            </td>
        </tr>
        <tr>
            <td>Rows:</td>
            <td>{{theaterDepth}}</td>
            <td>
                <button class="btn btn-default btn-sm" type="button" ng-click="addRow()"
                        ng-disabled="!validateRowInput(1)">+
                </button>
                <button class="btn btn-default btn-sm" type="button" ng-click="removeRow()"
                        ng-disabled="!validateRowInput(-1)">-
                </button>
            </td>
        </tr>
        
        <tr>
        	<td>Seat numbers:</td>
            <td colspan="2">
                <div>
				    <label class="radio-inline">
				    	<input type="radio" name="rowReset" ng-model="rowReset" ng-value="false" ng-click="setRowReset(false)">
				    	Continuous
				    </label>
				    
                    <label class="radio-inline">
                    	<input type="radio" name="rowReset" ng-model="rowReset" ng-value="true" ng-click="setRowReset(true)">
                    	Reset for each row
                    </label>
                </div>

            </td>
        </tr>
        
        </tbody>
    </table>

</div>

<div>
    <div class="theaterView">
        <div class="theaterRow">
            <div class="theaterScreen">Screen</div>
        </div>

        <div class="theaterRow" ng-repeat="row in theaterRows">
            <div class="seatContainer" ng-repeat="seat in theaterRows[$index].seats">
                <div class="theaterSeat"
                     ng-class="{'disabledSeat': seat.state == 'DISABLED', 'not_a_seat':seat.state == 'NOT_A_SEAT'}">
                    <div class="seatLabel" ng-click="toggleSeatState(seat)">{{seat.seatLabel}}</div>
                </div>
            </div>
        </div>

    </div>
</div>
