/* Global variables */
/* Page wide stuff */
html {
  overflow-y: scroll; }

body {
  background-color: #e7e7e7;
  margin-top: 0; }

.container {
  color: #353535;
  padding-top: 0; }

h1 {
  background: #353535;
  padding: 0.5em;
  color: #f1f1f1;
  font-size: 2em;
  font-family: serif;
  font-style: italic;
  text-align: right;
  margin-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

h2 {
  font-size: 3em;
  font-family: serif;
  font-style: italic;
  font-weight: 400; }

/* Nav bar */
.nav-pills li a {
  color: #5c111d; }
.nav-pills li.active a {
  background-color: #bb3246 !important; }
.nav-pills li.active a, .nav-pills li.active a:active, .nav-pills li.active a:focus {
  color: #fff !important; }

.inputTable tbody tr td {
  padding: 0.5em; }

input.btn {
  background-color: #bb3246;
  color: #f1f1f1;
  margin-top: 1em; }

.theaterScreen {
  color: white;
  letter-spacing: 1em;
  text-transform: uppercase;
  display: inline-block;
  width: 30em;
  height: 2em;
  line-height: 2em;
  background-color: black;
  border-style: solid;
  border-width: 0 2em 0 2em;
  border-color: #5c111d;
  margin: 5em 0; }

.theaterScreenPlayer {
  text-align: center;
  margin-bottom: 2em; }
  .theaterScreenPlayer iframe {
    width: 40em;
    height: 20em; }

.theaterRow {
  text-align: center; }
  .theaterRow .seatContainer {
    display: inline-block; }
    .theaterRow .seatContainer .theaterSeat {
      margin: 10px 5px;
      cursor: pointer;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 1em;
      background-color: #bb3246;
      width: 40px;
      height: 40px;
      border-radius: 5px 5px 20px 20px;
      border: 2px solid #5c111d;
      text-align: center;
      line-height: 40px; }
      .theaterRow .seatContainer .theaterSeat .seatLabel {
        margin: auto; }
    .theaterRow .seatContainer .disabledSeat {
      background-color: lightgray;
      border-color: black;
      color: black; }
    .theaterRow .seatContainer .not_a_seat {
      background-color: #fbfbfb;
      border-color: #eeeeee;
      color: #dddddd; }
    .theaterRow .seatContainer .hiddenSeat {
      background-color: transparent;
      color: transparent;
      width: 40px;
      height: 40px;
      border: 2px solid transparent;
      margin: 10px 5px;
      text-align: center;
      line-height: 40px; }
    .theaterRow .seatContainer .unbookedSeat {
      background-color: #5c111d; }
    .theaterRow .seatContainer .bookedSeat {
      background-color: #444444;
      border-color: #888888; }
    .theaterRow .seatContainer .selectedSeat {
      background-color: #bb3246;
      border-color: #f1f1f1; }

.confirmBooking {
  margin-top: 3em;
  border-top: 1px solid #353535;
  margin-bottom: 25em;
  text-align: center; }

.alert {
  position: absolute;
  top: 2em;
  right: 2em;
  padding: 3em;
  z-index: 10;
  box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.2); }

.bookingTableObject {
  background-color: rgba(0, 0, 0, 0.14); }

.activeMovie {
  background-color: #800840;
  color: #FFFFFF; }

.fullBookedShowing {
  background-color: #ff5260; }

.clearField {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc; }

.blockSpan {
  display: block; }

.clearButton {
  float: left; }

.form-control {
  display: inline;
  width: 80%; }

.dateRow {
  background-color: #5c111d;
  color: #FFFFFF; }

tbody > tr.dateRow:hover {
  background-color: #5c111d;
  color: #FFFFFF; }

/*# sourceMappingURL=admin.css.map */
