
<form name="showingForm">
	<select ng-options="theater as theater.name for theater in allTheaters" ng-model="selectedTheater" required></select>
	<select ng-options="movie as movie.title for movie in allMovies" ng-model="selectedMovie" required></select>
	<input type="datetime-local" name="date" ng-model="selectedDate" required>
	<input type="button" ng-click="submitShowing()" value="Submit" ng-disabled="showingForm.$invalid">
</form>

<div class="container">
    <div>
        <!--Cinema - Theaters - Repetoire-->
        <button type="button" value="Cinema" ng-click="route"/>
        <!-- Repetoire -->
        <button type="button" value="Movies" ng-click=""/>
        <!-- Showings -->
        <button type="button" value="Showings" ng-click=""/>
        <!-- Bookings -->
        <button type="button" value="Booking" ng-click=""/>

    </div>
</div>
