<ol class="breadcrumb">
    <li class="active">Admin Home</li>
</ol>
<div>
    <h2>Home</h2>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="list">
                <h3>Cinemas</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="cinema in cinemas">
                        <a href="#/cinema/{{cinema.id}}">{{cinema.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <form name="add-cinema-form">
                <!--TODO unsure how to format, leaving it to someone with better expertise-->
                <h3>Add new Cinema</h3>
                <div class="row">
                     Name:
                </div>
                <div class="row">
                    <input type="text" ng-model="add_cinema_name">
                </div>
                <div class="row">
                    <input ng-click="submitCinema()" type="submit" class="btn" value="Add cinema" ng-disabled="!validateCinema()">
                </div>

                <!--TODO OLD, remove if new is better, left it as backup if i messed up to bad-->
                <!--<table>-->
                    <!--<tr>-->
                        <!--<th>Name:</th>-->
                        <!--<td><input type="text" ng-model="add_cinema_name"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<th></th>-->
                        <!--<td>-->
                            <!--<input ng-click="submitCinema()" type="submit" class="btn" value="Add cinema"-->
                                   <!--ng-disabled="!validateCinema()">-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
            </form>
        </div>
    </div>
</div>

