<ol class="breadcrumb">
    <li class="active">Admin Home</li>
</ol>
<div class="">
    <h2>Home</h2>
    <div class="row">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cinemas</h3>
                </div>
                <div class="panel-body">
                    <div class="list">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="cinema in cinemas">
                                <a href="#/cinema/{{cinema.id}}">{{cinema.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default">
            	  <div class="panel-heading">
            			<h3 class="panel-title">Add new cinema</h3>
            	  </div>
            	  <div class="panel-body">
                      <form name="add-cinema-form">
                          <label class="blockSpan">Cinema name:</label>
                          <input class="form-control" type="text" ng-model="add_cinema_name">
                          <input ng-click="submitCinema()" type="submit" class="btn" value="Add cinema" ng-disabled="!validateCinema()">
                      </form>
            	  </div>
            </div>
        </div>
    </div>
</div>

