<div>
    <div class="row">
        <div class="col-sm-12 module-container">
            <h2>Theater: {{orginal_name}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">

            <form name="showingForm">
                <h2>Edit theater</h2>
                <table>
                    <tr>
                        <th>Name:</th>
                        <td><input type="text" placeholder="Name" ng-model="name" required></td>
                    </tr>
                    <tr>
                        <th>Width</th>
                        <td><p>{{theaterWidth}}</p></td>
                    </tr>
                    <tr>
                        <th>Depth</th>
                        <td><p>{{theaterDepth}}</p></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><input type="submit" class="btn" ng-click="" value="Update"
                                   ng-disabled="showingForm.$invalid || validateScheduleEditTheater()"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="row">
        <div class="theaterView">
            Theater
            <div class="theaterRow" ng-repeat="row in theaterRows">
                <span class="theaterSeat" ng-repeat="seat in theaterRows[$index].seats">{{seat.seatLabel}}</span>
            </div>
        </div>
    </div>
</div>
